<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cya.frame">

    <application>
        <!-- 全局Context提供者 -->
        <provider
            android:name=".provider.CyaContextProvider"
            android:authorities="${applicationId}.cya.contextprovider"
            android:exported="false" />
    </application>
</manifest>
